html,body{
	   font-size: 15px;
		font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
		color:#222;
		margin:0;
		padding: 0
	}
#first{
  width:1349px;
  height: 46px;
  background:rgb(241,241,241);
  text-align: center
}
.zhu{
	width:91px;
    height:30px;
    padding: 0;
    margin:0;
    position: relative;
    left:180px;
}
.aa{
	text-align: center;
	padding-top: 12px
}
a:link {
	color: #222
}
a:visited {
	color: #222
}
a:hover {
	color: #FF00FF
}
a:active {
	color: #222
}
a{
	text-decoration: none
}
.hua{
	width:70px;
    height:30px;
    padding: 0;
    margin:0;
    position: relative;
    left:271px;
    top:-18px;
}
.you{
	width:70px;
    height:30px;
    padding: 0;
    margin:0;
    position: relative;
    top:-48px;
    left:362px;
}
.zhi{
	width:70px;
    height:30px;
    padding: 0;
    margin:0;
    position: relative;
    top:-78px;
    left:453px;
}
.shou{
	width:70px;
    height:30px;
    padding: 0;
    margin:0;
    position: relative;
    top:-108px;
    left:544px;
}
.bd{
	width:207px;
    height: 44px;
    position: relative;
    top:-196px;
    left:945px;
}
.deng{
	width:154px;
    height: 44px;
}
.QQ,.wb,.dl{
	background: #009CD6;
    text-align: center;
    width:40px;
    height: 30px;
    border: 1px solid gray
}
.QQ{
	position: relative;
    top:52px;
}
.user{
    width:154px;
    height: 44px;
}
.headimg{
    position: relative;
    top: 50px;
    line-height: 46px;
    width: 34px;
    height: 34px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    border: 1px solid rgb(106,106,106);
    display: block;
    cursor: pointer;
}
#block{
    width: 202px;
    height: 167px;
    border: 1px solid #ccc;
    background: none repeat scroll 0% 0% #FFF;
    z-index: 10;
    position: absolute;
    top: 95px;
    right: 84px;
    display: none;
}
#block .uname{
    text-align: left;
    padding: 10px 8px;
}
.member-menu{
    border-top: 1px solid #DDD;
    padding: 5px 0px 10px;
    clear: both;
    height: 60px;
}
.member-bottom{
    height: 30px;
    line-height: 30px;
    background: none repeat scroll 0% 0% #F5F5F5;
    font-size: 14px;
}
.logout{
    float: right;
}
.member-bottom a:hover{
    color: #00A1D6;
} 
.upload{
    position: relative;
    top: 8px;
    line-height: 46px;
    float: right;
}
.wb{
	position: relative;
    top:20px;
    left:40px;
}
.dl{
	position: relative;
    top:-12px;
    left:80px;
    color: white
}
.ce{
	height:44px;
    width:38px;
    position: relative;
    left:154px;
    top:15px;
}
#second{
	width:1349px;
	height: 2px;
	background:rgb(0,161,214);
}
#third,.bei,.dh{
	width:1349px;
}
.bei{
	height:113px;
}
.dh{height: 42px;
	background:#FFF;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-left: -40px;
	margin-top: 0;
	margin-bottom: 0
}
.ye,.dong,.fan,.yin,.wu,.xi,.ke,.yu,.gui,.ying,.shi{
	width:60px;
	height:20px;
}
.ye{
	position: relative;
    left:182px;
    top:10px;
}
.dong{
	position: relative;
    left:242px;
    top:-10px;
}
.fan{
	position: relative;
    left:302px;
    top:-30px;
}
.yin{
	position: relative;
    left:362px;
    top:-50px;
}
.wu{
	position: relative;
    left:422px;
    top:-70px;
}
.xi{
	position: relative;
    left:482px;
    top:-90px;
}
.ke{
	position: relative;
    left:542px;
    top:-110px;
}
.yu{
	position: relative;
    left:602px;
    top:-130px;
}
.gui{
	position: relative;
    left:662px;
    top:-150px;
}
.ying{
	position: relative;
    left:722px;
    top:-170px;
}
.shi{
	position: relative;
    left:782px;
    top:-190px;
}
.pai{
	width:68px;
    height: 30px;
    position: relative;
    left:862px;
    top:-230px;
}
.hang{
	width:30px;
    height: 20px;
    position: relative;
    left:30px;
    top:-27px;
}
input{
	height:40px;
}
.so{
	width:240px;
    height:40px;
    position: relative;
    left:945px;
    top:-270px;
}
button{
	background:#F489AD;
	border: 0;
	border-radius: 6px;
	color: white;
	width:32px;
	height:17px;
}
li{ list-style:none; }
li:hover ul{display:block;}
.hidden{
	font-size: 15px;
	width:120px;
	height:135px;
	z-index:9999;
	background:white;
	border: 1px solid #DDD;
	display: none;
}
#flash{
	position:absolute;
	left:-62px;
	top:20px; 
}
#every{
	position:absolute;
	left:-62px;
	top:20px; 
}
#music{
	position:absolute;
	left:-62px;
	top:20px;  
}
#dance{
	position:absolute;
	left:-62px;
	top:20px;  
}
#game{
	position:absolute;
	left:-62px;
	top:20px; 
}
#science{
	position:absolute;
	left:-62px;
	top:20px; 
}
#fun{
	position:absolute;
	left:-62px;
	top:20px; 
}
#chill{
	position:absolute;
	left:-62px;
	top:20px; 
}
#movie{
	position:absolute;
	left:-62px;
	top:20px; 
}
#long{
	position:absolute;
	left:-62px;
	top:20px; 
}
.f1,.f2,.f3,.f4{
	width:80px;
	height:30px;
}
#forth{
	background:rgb(250,250,250);
    height:3700px;
}
#js{
	width:440px;
    height:220px;
    border: 1px solid #DDD;
    position: relative;
    left:185px;top:20px;
    background:url(0008.png);
}
.le{
	background:rgba(0,0,0,0.7);
    width:440px;
    height:36px;
    position: absolute;
    bottom: 0;
    color: white
}
.duo{
	width:521px;
    height: 222px;
    position: relative;
    left:665px;
    top:-200px;
}
#fi,#se,#thi,#fo,#five,#six{
	width:10px;
	line-height: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	height:10px;
	margin-left: 10px;
	margin-right: 10px
}
#se,#thi,#fo,#five,#six{
	background:white;
}
#fi{
	position: relative;
    left:295px;
    top:-10px;
    background:rgb(0,161,241)
}
#se{
	position: relative;
    left:312px;
    top:-22px;
}
#thi{
	position: relative;
    left:329px;
    top:-34px;
}
#fo{
	position: relative;
    left:346px;
    top:-46px;
}
#five{
	position: relative;
    left:363px;
    top:-58px;
}
#six{
	position: relative;
    left:380px;
    top:-70px;
}
.uu,.vv,.ww,.xx,.yy,.zz
{
	width:161px;
    height: 122px;
}
.vv{
	position: relative;
    left:181px;
    top:-122px;
}
.ww{
	position: relative;
    left:362px;
    top:-244px;
}
.xx{
	position: relative;
    top:-244px;
}
.yy{
	position: relative;
    left:181px;
    top:-366px;
}
.zz{
	position: relative;
    left:362px;
    top:-488px;
}
.ll{
    width:1004px;
    height:1px;
    background:#DDD;
    position: relative;
    left:185px;
    top:-180px;
}
.more1{
	width:50px;
    height:40px;
    position: relative;
    left:185px;
    top:-180px;
}
.more2{
	width:50px;
	height:40px;
	position: relative;
    left:223px;
    top:-215px;
}
.main,.load,.all,.MUSIC,.DANCE,.GAME,.SCIENCE,.FUN,.CHILL,.MOVIE,.LONG{
	width:715px;
    height:145px;
    position: relative;
    left:185px;
    top:-215px;
    font-size: 13px
}
#main1,#main2,#main3,#main4,#LONG1,#LONG2,#LONG3,#LONG4,#MOVIE1,#MOVIE2,#MOVIE3,#MOVIE4,#CHILL1,#CHILL2,#CHILL3,#CHILL4,#FUN1,#FUN2,#FUN3,#FUN4,#SCIENCE1,#SCIENCE2,#SCIENCE3,#SCIENCE4,#GAME1,#GAME2,#GAME3,#GAME4,#DANCE1,#DANCE2,#DANCE3,#DANCE4,#load1,#load2,#load3,#load4,#all1,#all2,#all3,#all4,#MUSIC1,#MUSIC2,#MUSIC3,#MUSIC4{
	width:160px;
    height:145px;
    float: left;
    margin-left: 18px;
}

#hid1{
    position: absolute;
    left:183px;
    top:340px;
}
#hid2{
	position: absolute;
    left:363px;
    top:340px;
}
#hid3{
	position: absolute;
    left:542px;
    top:340px;
}
#hid4{
	position: absolute;
    left:722px;
    top:340px;
}
#hid5{
    position: absolute;
    left:183px;
    top:560px;
}
#hid6{
    position: absolute;
    left:363px;
    top:560px;
}
#hid7{
    position: absolute;
    left:542px;
    top:560px;
}
#hid8{
    position: absolute;
    left:722px;
    top:560px;
}
.new-m1,.new-p1{
    width: 58px;
    height: 20px;
    text-align: center;
    font-size: 11px
}
.new-m1{
    position: relative;
    left:275px;
    top:-400px;
    background:rgb(0,168,223);    
    border: 1px solid rgb(0,168,223);
    border-radius: 4px
}
#new1{
    color: white;
}
.new-p1{
    position: relative;
    left:350px;
    top:-420px;
    background:white;
}
.look{
    width: 160px;
    height: 23px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background:#EEE;
    text-align: center;
    position: relative;
    top: -240px;
    left: 720px
}
#hid9{
    position: absolute;
    left:183px;
    top:850px;
}
#hid10{
    position: absolute;
    left:363px;
    top:850px;
}
#hid11{
    position: absolute;
    left:542px;
    top:850px;
}
#hid12{
    position: absolute;
    left:722px;
    top:850px;
}
#hid13{
    position: absolute;
    left:183px;
    top:1140px;
}
#hid14{
    position: absolute;
    left:363px;
    top:1140px;
}
#hid15{
    position: absolute;
    left:542px;
    top:1140px;
}
#hid16{
    position: absolute;
    left:722px;
    top:1140px;
}
#hid17{
    position: absolute;
    left:183px;
    top:1430px;
}
#hid18{
    position: absolute;
    left:363px;
    top:1430px;
}
#hid19{
    position: absolute;
    left:542px;
    top:1430px;
}
#hid20{
    position: absolute;
    left:722px;
    top:1430px;
}
#hid21{
    position: absolute;
    left:183px;
    top:1720px;
}
#hid22{
    position: absolute;
    left:363px;
    top:1720px;
}
#hid23{
    position: absolute;
    left:542px;
    top:1720px;
}
#hid24{
    position: absolute;
    left:722px;
    top:1720px;
}
#hid25{
    position: absolute;
    left:183px;
    top:2010px;
}
#hid26{
    position: absolute;
    left:363px;
    top:2010px;
}
#hid27{
    position: absolute;
    left:542px;
    top:2010px;
}
#hid28{
    position: absolute;
    left:722px;
    top:2010px;
}
#hid29{
    position: absolute;
    left:183px;
    top:2300px;
}
#hid30{
    position: absolute;
    left:363px;
    top:2300px;
}
#hid31{
    position: absolute;
    left:542px;
    top:2300px;
}
#hid32{
    position: absolute;
    left:722px;
    top:2300px;
}
#hid33{
    position: absolute;
    left:183px;
    top:2590px;
}
#hid34{
    position: absolute;
    left:363px;
    top:2590px;
}
#hid35{
    position: absolute;
    left:542px;
    top:2590px;
}
#hid36{
    position: absolute;
    left:722px;
    top:2590px;
}
#hid37{
    position: absolute;
    left:183px;
    top:2880px;
}
#hid38{
    position: absolute;
    left:363px;
    top:2880px;
}
#hid39{
    position: absolute;
    left:542px;
    top:2880px;
}
#hid40{
    position: absolute;
    left:722px;
    top:2880px;
}
#hid41{
    position: absolute;
    left:183px;
    top:3170px;
}
#hid42{
    position: absolute;
    left:363px;
    top:3170px;
}
#hid43{
    position: absolute;
    left:542px;
    top:3170px;
}
#hid44{
    position: absolute;
    left:722px;
    top:3170px;
}
.b-r{
    min-height: 215px;
    height: 270px;
    width: 250px;
    padding: 10px 0px 0px 10px;
    background: rgb(248,248,248);
    position: relative;
    top: -3325px;
    left: 927px
}
.b-head{
    font-size: 12px;
    width: 245px;
    height: 25px;
    background: rgb(1,160,216);
    border: 1px;
    border-radius: 5px;
    color: white;
    line-height: 20px;
    padding-left: 5px
}
.news{
    width: 50px;
    height: 25px;
    margin: -20px 0 0 180px
}
.bad{
    width: 50px;
    height: 25px;
    margin: -25px 0 0 210px
}
.b-i{
    width: 250px;
    height: 150px;
    margin-top: 10px
}
#whole,#creative{
    width: 34px;
    height: 20px;
    text-align: center;
}
#whole{
    background: rgb(0,161,214);
    color: white;
    border: 1px;
    border-radius: 4px;
    margin: -20px 0 0 80px
}
#creative{
    margin: -20px 0 0 126px
}
.when{
    width: 55px;
    height: 20px;
    margin: -20px 0 0 185px
}
.one{
    width: 250px;
    margin-top: 15px
}
.o-w{
    width: 150px;
    font-size: 12px;
    margin: -20px 0 0 100px
}
.o-i{
    width: 150px;
    height: 16px;
    margin-left: 100px
}
.two{
    width: 250px;
    height: 15px;
    font-size: 12px
}
.sign{
    width: 15px;
    height: 15px;
    background: rgb(244,137,173);
    color: white;
    text-align: center;
    margin-top: 20px;
}
.include{
    width: 220px;
    height: 15px;
    margin: -15px 0 0 26px
}
.more-link{
    width: 250px;
    height: 25px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background: #EEE;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-top: 15px
}
.more-i{
    width: 250px;
    height: 60px;
    margin-top: 10px
}
#import{
    width: 30px;
    height: 330px;
    position: absolute;
    top: 200px;
    left: 1200px;
    position: fixed;
}
#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10{
    width: 30px;
    height: 32px;
    border-bottom: 1px solid #DDD;
    font-size: 12px;
    text-align: center;
    line-height: 30px
}
.upload{

}